{% extends "skeleton.html" %}
<!--the modular post html should not concern itself with showing comments -->
{% block skeleton_content %}


     <div class=" card col-12">
         <div class="card-body">
            <h5 class="card-title " style="display: inline;">
                <i class="fa fa-retweet fa-lg"></i>Retweet
            </h5>
             <br><br>
             {% include "ModularPost.html" with post=POST %}
             <form enctype="multipart/form-data" action = "/create/retweet/{{ POST.POST_ID }}/"method="POST"> {% csrf_token %}
                <div class="card">
                   <textarea class="form-control" placeholder="Say something?" name = "TEXT" id="retweet_text" ></textarea>
                </div>
                <br>
                 <button type="submit" class="btn btn-primary"><i class="fa fa-retweet fa-lg"></i> Retweet</button>
            </form>
         </div>
     </div>


    {% for reply in replies %}
        {% include "ModularPost.html" with post=reply %}
    {% endfor %}

{% endblock %}