{% extends "skeleton.html" %}
<!--the modular post html should not concern itself with showing comments -->
{% block skeleton_content %}


     <div class=" card col-12">
         <div class="card-body">
            <h5 class="card-title " style="display: inline;">
                <i class="fa fa-retweet fa-lg"></i>Retweet
            </h5>
             <br><br>
             <div id = "post">
             {% include "ModularPost.html" with post=POST %}
             </div>
             <form enctype="multipart/form-data" action = "/create/retweet/{{ POST.POST_ID }}/"method="POST"> {% csrf_token %}
                 <button type="submit" class="btn btn-primary"><i class="fa fa-retweet fa-lg"></i> Retweet</button>
            </form>
         </div>
     </div>

    {% for reply in replies %}
        {% include "ModularPost.html" with post=reply %}
    {% endfor %}

    {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    {% endblock %}

        {% include 'ajax_like_bookmark.html' with div_id="post" only %}

{% endblock %}