{% extends "skeleton.html" %}

{% block skeleton_content %}
    {% include "ModularPost.html" with post=tweet %}

    {% if USERLOGGEDIN %}
        <form method="POST" action = "/create/tweet/">{% csrf_token %}

            <div class="col-8">
                <div class="form-row">
                   <textarea class="form-control" placeholder="Reply?" name = "CommentBody" id="inputCommentBody"></textarea>
                </div>
             </div>

            <div class="form-row">
                <div class="col-4" align="left">
                    <!--
                    Privacy settings for comments don't make sense. Kept for now
                    This should be an attribute for tweet, not post base entity
                    -->
                    <select name="privacy" id="privacyDropDown">
                        <option selected>Choose Audience</option>
                        <option value="PUBLIC">Public</option>
                        <option value="FOLLOWER">Follower</option>
                        <option value="MENTION">Mention</option>
                    </select>
                 </div>
                <div class="col-4" align="right">
                    <button type="submit" class="btn btn-primary">Comment</button>
                </div>
            </div>
        </form>
    {% endif %}

{% endblock %}