{% extends "skeleton.html" %}
<!--the modular post html should not concern itself with showing comments -->
{% block skeleton_content %}
    <div class="row">
        <div class="col-8">
            {% include "ModularPost.html" with post=tweet %}
        </div>
    </div>
    <!-- TODO make comments smaller??-->

    {% for commentChain in COMMENTCHAINS %}
        <div class="card">
            <div class="card-body">
            {% for comment in commentChain %}
                {% include "ModularPost.html" with post=comment %}
            {% endfor %}
            </div>
        </div>
    {% endfor %}


    <!--TODO make this fixed to the bottom of the screen so that user doesn't have to scroll -->
    {% if USERLOGGEDIN %}
        <a id ="tweet-reply-box">
        <form method="POST" enctype="multipart/form-data" action = "/create/reply/tweet/{{ TWEETID }}/">{% csrf_token %}

            <div class="col-8">
                <div class="form-row">
                   <textarea class="form-control" placeholder="Reply?" name = "CommentBody" id="inputCommentBody" ></textarea>
                </div>
             </div>

            <div class="form-row">
                <div class="col-4" align="left">
                    <!--
                    Privacy settings for comments don't make sense. Kept for now
                    This should be an attribute for tweet, not post base entity
                    -->
                    <select name="privacy" id="privacyDropDown">
                        <option value="PUBLIC" selected="selected">Public</option>
                        <option value="FOLLOWER">Follower</option>
                        <option value="MENTION">Mention</option>
                    </select>

                    <label for="upload">
                        <span class="fa fa-file-image-o fa-lg" aria-hidden="true"> Attach</span>
                        <input type="file" accept="image/*" id="upload" name="Media" style="display:none" value="upload">
                    </label>

                 </div>
                <div class="col-4" align="right">
                    <button type="submit" class="btn btn-primary">Comment</button>
                </div>
            </div>

            <div class="row" align="center">
                <img class="img-fluid" style="display: none;" id="media_preview">
            </div>
        </form>
        </a>

        <script>
        document.getElementById("upload").onchange = function () {
                let reader = new FileReader();

                reader.onload = function (e) {
                    console.log("File is "+e.target.result);
                    document.getElementById("media_preview").style.display = "block";
                    document.getElementById("media_preview").src = e.target.result;

                };

                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            };
        </script>

    {% endif %}

{% endblock %}