{% extends "skeleton.html" %}
<!--the modular post html should not concern itself with showing comments -->
{% block skeleton_content %}

    <div class=" card col-12">
         <div class="card-body">
            <h5 class="card-title " style="display: inline;">
                <i class="fa fa-retweet fa-lg"></i>{{ RT.AUTHOR  }} <a href="{% url 'user_profile' RT.AUTHOR %}">
                    @{{ RT.AUTHOR  }}
                </a> Retweeted
            </h5>
           <p class="card-text"><small class="text-muted">{{ RT.TIMESTAMP }}</small></p>
             <div id ="post">
                 {% include "ModularPost.html" with post=RT.POST %}
            </div>
         </div>
     </div>

    <!-- TODO make comments smaller??-->

    <br><p class="h4"> Comments: </p> <br>
    <div id="comment">
     {% for commentChain in COMMENTCHAINS %}
            {% if commentChain.1 %}
                <div class="row">
                    <div class="col-8">
                        <div class="card mx-1 py-2 ">
                            {% if commentChain.0 %}
                                {% include "ModularPost.html" with post=commentChain.0 %}
                            {% endif %}
                            <div class="card-body ml-3 mr-0 pr-2">
                                {% for comment in commentChain.1 %}
                                    {% include "ModularPost.html" with post=comment %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-8 px-1">
                    {% if commentChain.0 %}
                         {% include "ModularPost.html" with post=commentChain.0 %}
                    {% endif %}
                    <div>
               <div>
            {% endif %}
{#            <div class="row">#}
{#                <div class="col-8">#}
{#                {% for comment in commentChain %}#}
{#                    {% include "ModularPost.html" with post=comment %}#}
{#                {% endfor %}#}
{#                </div>#}
{#            </div>#}
        {% endfor %}
    </div>
{#    <!--TODO make this fixed to the bottom of the screen so that user doesn't have to scroll -->#}
{#    {% if USERLOGGEDIN %}#}
{#        <a id ="tweet-reply-box">#}
{#        <form method="POST" enctype="multipart/form-data" action = "/create/reply/tweet/{{ TWEETID }}/">{% csrf_token %}#}
{##}
{#            <div class="col-8">#}
{#                <div class="form-row">#}
{#                   <textarea class="form-control" placeholder="Reply?" name = "CommentBody" id="inputCommentBody" ></textarea>#}
{#                </div>#}
{#             </div>#}
{##}
{#            <div class="form-row">#}
{#                <div class="col-4" align="left">#}
{#                    <!--#}
{#                    Privacy settings for comments don't make sense. Kept for now#}
{#                    This should be an attribute for tweet, not post base entity#}
{#                    -->#}
{#                    <select name="privacy" id="privacyDropDown">#}
{#                        <option value="PUBLIC" selected="selected">Public</option>#}
{#                        <option value="FOLLOWER">Follower</option>#}
{#                        <option value="MENTION">Mention</option>#}
{#                    </select>#}
{##}
{#                    <label for="upload">#}
{#                        <span class="fa fa-file-image-o fa-lg" aria-hidden="true"> Attach</span>#}
{#                        <input type="file" accept="image/*" id="upload" name="Media" style="display:none" value="upload">#}
{#                    </label>#}
{##}
{#                 </div>#}
{#                <div class="col-4" align="right">#}
{#                    <button type="submit" class="btn btn-primary">Comment</button>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="row" align="center">#}
{#                <img class="img-fluid" style="display: none;" id="media_preview">#}
{#            </div>#}
{#        </form>#}
{#        </a>#}

        <script>
        document.getElementById("upload").onchange = function () {
                let reader = new FileReader();

                reader.onload = function (e) {
                    console.log("File is "+e.target.result);
                    document.getElementById("media_preview").style.display = "block";
                    document.getElementById("media_preview").src = e.target.result;

                };

                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            };
        </script>

    {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    {% endblock %}

    {% include 'ajax_like_bookmark.html' with div_id="post" only %}
    {% include 'ajax_like_bookmark.html' with div_id="comment" only %}

{% endblock %}