{% extends "skeleton.html" %}

{% block skeleton_content %}
    <div class="container-fluid">
        <form method="POST">{% csrf_token %}

            <div class="col-8">
                <div class="form-row">
                    <label for="exampleFormControlTextarea1">What is on your mind?</label>
                   <textarea class="form-control" placeholder="Post a tweet!" name="tweet"></textarea>
                </div>
             </div>

            <div class="form-row">
                <div class="col-4" align="left">
                    <select name="privacy">
                        <option selected>Choose Audience</option>
                        <option value="1">Public</option>
                        <option value="2">Follower</option>
                        <option value="3">Mention</option>
                    </select>
                 </div>
                <div class="col-4" align="right">
                    <button type="submit" class="btn btn-primary">Tweet!</button>
                </div>
            </div>
        </form>

    <div class="row">
        <div class="col-8">
{#        <ul class="list-group">#}
            {% for tweet in tweet_list %}
                {% include 'Tweet.html' with tweet=tweet %}
            {% endfor %}
{#        </ul>#}
        </div>
    </div>
</div>
{% endblock %}