{% extends "skeleton.html" %}

{% block skeleton_content %}
    <div class="container-fluid">
        <form method="POST" action = "/create/tweet/">{% csrf_token %}

            <div class="col-8">
                <div class="form-row">
                    <label for="exampleFormControlTextarea1">What is on your mind?</label>
                   <textarea class="form-control" placeholder="Post a tweet!" name = "TweetBody" id="inputTweetBody"></textarea>
                </div>
             </div>

            <div class="form-row">
                <div class="col-4" align="left">
                    <select name="privacy" id="privacyDropDown">
                        <option selected>Choose Audience</option>
                        <option value="PUBLIC">Public</option>
                        <option value="FOLLOWER">Follower</option>
                        <option value="MENTION">Mention</option>
                    </select>
                 </div>
                <div class="col-4" align="right">
                    <button type="submit" class="btn btn-primary">Tweet!</button>
                </div>
            </div>
        </form>

    <div class="row">
        <div class="col-8">
            {% for tweet in tweet_list %}
                {% include 'ModularPost.html' with post=tweet index=forloop.counter0%}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}