{% extends "skeleton.html" %}

{% block skeleton_content %}
    <div class="container-fluid">
        <form method="POST" enctype="multipart/form-data" action = "/create/tweet/">{% csrf_token %}

            <div class="col-8">
                <div class="form-row">
                    <label for="exampleFormControlTextarea1">What is on your mind?</label>
                   <textarea class="form-control" placeholder="Post a tweet!" name = "TweetBody" id="inputTweetBody" maxlength="280"></textarea>
                </div>
             </div>

            <div class="form-row">
                <div class="col-4" align="left">

                    <select name="privacy" id="privacyDropDown">
                        <option selected>Choose Audience</option>
                        <option value="PUBLIC">Public</option>
                        <option value="FOLLOWER">Follower</option>
                        <option value="MENTION">Mention</option>
                    </select>

                    <label for="upload">
                        <span class="fa fa-file-image-o fa-lg" aria-hidden="true"> Attach</span>
                        <input type="file" accept="image/*" id="upload" name="Media" style="display:none" value="upload">
                    </label>

                 </div>
                <div class="col-4" align="right" style="margin-top: 8px">
                    <button type="submit" class="btn btn-primary">Tweet!</button>
                </div>
            </div>
        </form>

            <div class="row" align="center">
                <img class="img-fluid" style="display: none;" id="media_preview">
            </div>

    <br>

    <div class="row" id="home">
        <div class="col-8">
            {% for retweet in retweet_list %}
                <div class="card">
                    <div class="card-body">
                        <img src="{{ retweet.RT_PROFILE_PHOTO|default:"/media/default_profile.png" }}"  width="50px" height="50px" style="border-radius: 50%; border: 1px solid #777777;">
                         <h5 class="card-title " style="display: inline;">
                            {{ retweet.RT_AUTHOR }} <a href="{% url 'user_profile' retweet.RT_AUTHOR %}">
                                @{{ retweet.RT_AUTHOR  }}
                            </a>
                             Retweeted <i class="fa fa-retweet fa-lg"></i>
                        </h5>

                        <p class="card-text"><small class="text-muted">{{ retweet.RT_TIMESTAMP }}</small></p>

                         <div id ="post">
                                {% include "ModularPost.html" with post=retweet %}
                         </div>
                    </div>
                </div>
            {% endfor %}

            {% for tweet in tweet_list %}
                {% include 'ModularPost.html' with post=tweet index=forloop.counter0%}
            {% endfor %}
        </div>
         {% if suggestions %}
        <div class="col-4">
            <h5>Suggested profiles to follow!</h5>
                {% for suggestion in suggestions %}
                    <div class="card">
                      <div class="card-body">

                        <img src="{{ suggestion.PROFILE_PHOTO|default:"/media/default_profile.png" }}"  width="50px" height="50px" style="border-radius: 50%;">

                        <div class="card-title" style="display: inline">
                            <a href="{% url 'user_profile' suggestion.ACCOUNTNAME %}">@{{ suggestion.ACCOUNTNAME }}</a>
                        </div>

                        <div class="card-text">
                            {% if suggestion.FOLLOWER %}
                                <p>Followed by <b>{{ suggestion.FOLLOWER  }}</b></p>
                            {% elif suggestion.FOLLOWS %}
                                <p>Following you</p>
                            {% else %}
                                <p> </p>
                            {% endif %}
                        </div>

                      </div>
                    </div>
              {% endfor %}
        </div>
    {% endif %}
    </div>



    {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    {% endblock %}

    {% include 'ajax_like_bookmark.html' with div_id="home" only %}

    <script>
        document.getElementById("upload").onchange = function () {
                let reader = new FileReader();

                reader.onload = function (e) {
                    console.log("File is "+e.target.result);
                    document.getElementById("media_preview").style.display = "block";
                    document.getElementById("media_preview").src = e.target.result;

                };

                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            };
     </script>

</div>
{% endblock %}