<!--This works for both tweet and comment hence renamed to post -->

<!-- These are necessary if you want to use this separately for debugging purposes-->
{% extends "base.html" %}
{% block content %}
<!-- end-->

<div class="card" id="{{ postID }}">

    <div class="card-body">

        <img src="{{ post.PROFILE_PHOTO|default:"/media/default_profile.png" }}"  width="50px" height="50px" style="border-radius: 50%;">

        <h5 class="card-title" style="display: inline;">{{ post.AUTHOR }}
            <small>
                <a href="{% url 'user_profile' post.AUTHOR %}">
                    @{{ post.AUTHOR  }}
                </a>
            </small>
        </h5>
        <p class="card-text"><small class="text-muted">{{ post.TIMESTAMP }}</small></p>

        {% if post.replied_to %}
            <h6 class="card-subtitle mb-2 text-muted">Replying to
                <a href="{% url 'user_profile' post.replied_to %}">
                    @{{ post.replied_to }}
                </a>
            </h6>
        {% endif %}

        {% if post.TEXT %}
            <p class="card-text">{{ post.TEXT }}</p>
        {% endif %}
    </div>

    {% if post.MEDIA %}
        <img class="card-img-bottom" src="{{ post.MEDIA }}" alt="Card image">
    {% endif %}

    <div class="btn-toolbar">
{#        <input type="hidden" value={{ post.POST_ID }} name="postID">#}
{#        <input type="hidden" value={{ index }} name="indexID">#}

        <button class="btn"><i class="fa fa-retweet fa-lg"></i> Retweet</button>

        <a href= "{{ post.COMMENTLINK }}" class="btn" role="button"><i class="fa fa-comment-o"></i> Comment</a>
{#        <a href= "/tweet/{{ post.ID }}#tweet-reply-box" class="btn" role="button"><i class="fa fa-comment-o"></i> Comment</a>#}
        <a class="like_btn" role="button" id="like_id{{post.POST_ID}}" data-post_id="{{ post.POST_ID }}" data-like_status="{% if post.LIKED %}like{% else %}unlike{% endif %}" style="text-decoration: none">
            <button type="button" class="btn" name="like" data-post_id="{{ post.POST_ID }}" value="{% if post.LIKED %}like{% else %}unlike{% endif %}"><i class="fa fa-heart{% if not post.LIKED %}-o{% endif %} fa-lg" style="{% if post.LIKED %}color: rgb(224,36,94);{% endif %}" id="like_icon{{ post.POST_ID }}"></i>
                {% if not post.LIKED %}
                    Like
                {% endif %}
            </button>
        </a>
        <a class="bookmark_btn" role="button" id="bookmark_id{{post.POST_ID}}" data-post_id="{{ post.POST_ID }}" data-bookmark_status="{% if post.BOOKMARKED %}bookmark{% else %}unbookmark{% endif %}" style="text-decoration: none">
            <button type="submit" class="btn" name="bookmark" value="bookmark" id="bookmark_btn"><i class="fa fa-bookmark{% if not post.BOOKMARKED %}-o{% endif %} fa-lg" id="bookmark_icon{{ post.POST_ID }}"></i>
                {% if not post.BOOKMARKED %}
                    Bookmark
                {% endif %}
            </button>
        </a>
    </div>
</div>
    <br>
{% endblock %}