<!--This works for both tweet and comment hence renamed to post -->

<!-- These are necessary if you want to use this separately for debugging purposes-->
{% extends "base.html" %}
{% block content %}
<!-- end-->

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ post.AUTHOR }}
            <small>
                    @{{ post.AUTHOR  }}
            </small>
        </h5>
        <p class="card-text"><small class="text-muted">{{ post.TIMESTAMP }}</small></p>

        {% if post.replied_to %}
            <h6 class="card-subtitle mb-2 text-muted">Replying to {{ post.replied_to }}</h6>
        {% endif %}

        {% if post.TEXT %}
            <p class="card-text">{{ post.TEXT }}</p>
        {% endif %}
    </div>

    {% if post.image %}
        <img class="card-img-bottom" src="{{ post.MEDIA }}" alt="Card image">
    {% endif %}

    <div class="btn-group">
{#        <button type="button" class="btn btn-primary">Retweet</button>#}
{#        <button type="button" class="btn btn-secondary">Comment</button>#}
{#        <button type="button" class="btn btn-success">Like</button>#}
{#        <button type="button" class="btn btn-secondary">Bookmark</button>#}
{##}
{#        <button class="btn"><i class="fa fa-home"></i> Home</button>#}
{#        <button class="btn"><i class="fa fa-bars"></i> Menu</button>#}
{#        <button class="btn"><i class="fa fa-trash"></i> Trash</button>#}
{#        <button class="btn"><i class="fa fa-close"></i> Close</button>#}
{#        <button class="btn"><i class="fa fa-folder"></i> Folder</button>#}

        <button class="btn "><i class="fa fa-reply"></i> Retweet</button>
        <a href= "{{ post.COMMENTLINK }}" class="btn" role="button"><i class="fa fa-comment-o"></i> Comment</a>
        <button class="btn"><i class="fa fa-heart-o"></i> Like</button>
        <button class="btn"><i class="fa fa-bookmark-o"></i> Bookmark</button>

    </div>
</div>
{% endblock %}