<!--This works for both tweet and comment hence renamed to post -->

<!-- These are necessary if you want to use this separately for debugging purposes-->
{% extends "base.html" %}
{% block content %}
<!-- end-->

    <div class="card">

        <div class="card-body">

            <img src="{{ RT.AUTHOR_PROFILE_PHOTO|default:"/media/default_profile.png" }}"  width="50px" height="50px" style="border-radius: 50%; border: 1px solid #777777;">

             <h5 class="card-title " style="display: inline;">
                {{ RT.AUTHOR  }} <a href="{% url 'user_profile' RT.AUTHOR %}">
                    @{{ RT.AUTHOR  }}
                </a>
                 Retweeted <i class="fa fa-retweet fa-lg"></i>
            </h5>

            <p class="card-text"><small class="text-muted">{{ RT.TIMESTAMP }}</small></p>
<!--            <p class="card-text">{{ RT.TEXT }}</p> -->

            <a href="{{ RT.POST_LINK }}" class="card-link">
             <div id ="post">
                    {% include "ModularPost.html" with post=RT.POST %}
             </div>
            </a>
        </div>
    </div>



    <br>
    {% include 'ajax_like_bookmark.html' with div_id="post" only %}
{% endblock %}