<!--This works for both tweet and comment hence renamed to post -->

<!-- These are necessary if you want to use this separately for debugging purposes-->
{% extends "base.html" %}
{% block content %}
<!-- end-->

<div class="card" id="{{ postID }}">
    <div class="card-body">

        <img src="{{ post.PROFILE_PHOTO|default:"/media/default_profile.png" }}"  width="50px" height="50px" style="border-radius: 50%;">

        <h5 class="card-title" style="display: inline;">{{ post.AUTHOR }}
            <small>
                <a href="{% url 'user_profile' post.AUTHOR %}">
                    @{{ post.AUTHOR  }}
                </a>
            </small>
        </h5>
        <p class="card-text"><small class="text-muted">{{ post.TIMESTAMP }}</small></p>

        {% if post.replied_to %}
            <h6 class="card-subtitle mb-2 text-muted">Replying to {{ post.replied_to }}</h6>
        {% endif %}

        {% if post.TEXT %}
            <p class="card-text">{{ post.TEXT }}</p>
        {% endif %}
    </div>

    {% if post.MEDIA %}
        <img class="card-img-bottom" src="{{ post.MEDIA }}" alt="Card image">
    {% endif %}

    <form method="post">{% csrf_token %}

        <input type="hidden" value={{ post.ID }} name="postID">
        <input type="hidden" value={{ index }} name="indexID">

        <button class="btn"><i class="fa fa-retweet fa-lg"></i> Retweet</button>
        <button class="btn"><i class="fa fa-comment-o fa-lg"></i> Comment</button>
        <button type="submit" class="btn" name="like" value="like"><i class="fa fa-heart{% if not post.LIKED %}-o{% endif %} fa-lg" {% if post.LIKED %}style="color: rgb(224,36,94);" {% endif %}></i>
            {% if not post.LIKED %}
                Like
            {% endif %}
        </button>
        <button type="submit" class="btn" name="bookmark" value="bookmark"><i class="fa fa-bookmark{% if not post.BOOKMARKED %}-o{% endif %} fa-lg"></i>
            {% if not post.BOOKMARKED %}
                Bookmark
            {% endif %}
        </button>

    </form>

</div>
    <br>
{% endblock %}