{% extends "base.html" %}

{% block content %}

{% if user_id == None %}
    <div class="container" align="center">
        <form action="/login/" method="GET">
            <h1>You have to login first!</h1>
            <br>
            <input type="Submit" value="Log in" class="btn btn-primary">
        </form>
    </div>

{% else %}

<div class="container-fluid">
<div class="row">
    <div class="col-2">

        <nav class="nav navbar-menu flex-column">
            <a href="#" class="nav-item nav-link">Home</a>
            <a href="/profile/" class="nav-item nav-link">Profile</a>
            <a href="#" class="nav-item nav-link">Messages</a>
            <a href="/test/" class="nav-item nav-link">Reports</a>
        </nav>

{#      <div class="nav flex-column nav-pills" aria-orientation="vertical" align="left">#}
{#          <a class="nav-link active" href="#" data-toggle="pill">Home</a>#}
{#          <a class="nav-link" href="/profile/" data-toggle="pill">Profile</a>#}
{#          <a class="nav-link" href="#" data-toggle="pill">Notifications</a>#}
{#          <a class="nav-link" href="#" data-toggle="pill">Messages</a>#}
{#          <a class="nav-link" href="#" data-toggle="pill">Trends</a>#}
{#          <a class="nav-link" href="/logout/" data-toggle="pill">Log out</a>#}
{#          <a class="nav-link" href="/test/" data-toggle="pill" role="link">Test</a>#}
{#      </div>#}
    </div>

    <div class="col-10">
        {% block navbar_content %}
        {% endblock %}
    </div>

</div>
</div>

{% endif %}

{% endblock %}