{% extends "skeleton.html" %}

{% block skeleton_content %}

{#<div class="container-fluid" style="display: block; position: relative">#}
<div class="container-fluid">

    <div class="row">
       <div class="container" style="display: block; position: relative">

{#            <div style="display: block; position: relative; z-index:1;">#}
{#                <a href="{{ header_photo|default:"https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" }}">#}
{#                    <img class="img-thumbnail" src="{{ header_photo|default:"https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png"}}" style="border: 5px solid #5b80b2; border-radius: 2%; max-width: 100%; z-index: 1; height: 350px; width: auto" alt="Header Photo">#}
{#                </a>#}
{#            </div>#}

           <a href="{{ header_photo|default:"" }}">
               <div style="width: 100%;height: 350px; background-image: url('{{ header_photo|default:"/media/default_header.png" }}'); background-size: cover; background-position: center; border: 5px solid #5b80b2; border-radius: 2%;"></div>
           </a>

           <a href="{{ profile_photo|default:""}}">
             <div style="display: block; position: relative; height: 200px; width: 200px; z-index: 999; margin: -10% 0 0% 5%; background-image: url('{{ profile_photo|default:"/media/default_profile.png" }}'); background-size: cover; background-position: center; border: 5px solid #555; border-radius: 50%; max-width: 100%;">
             </div>
           </a>

{#            <div style="display: block; position: relative; height: 200px; width: 200px; z-index: 999; margin: -10% 0 0% 5%;">#}
{#               <a href="{{ profile_photo|default:""}}">#}
{#                    <img class="img-fluid" src="{{ profile_photo|default:"/media/default_profile.png"}}" style="border: 5px solid #555; border-radius: 50%;max-width: 100%; z-index: 999;" alt="Profile Pic">#}
{#               </a>#}
{#            </div>#}

        </div>
    </div>

    <div class="row">
        <div class="col-3" style="float: left">
            <h2>{{ profile_name|default:"Default" }}</h2>
        </div>

         <div class="col-9">
            <div class="btn-group mx-auto" style="float: right">

              {% if self_profile %}
                  <form action="/profile-edit/">
                    <button type="submit" class="btn btn-primary">Edit Profile</button>
                  </form>

              {% else %}
                  <form method="post">{% csrf_token %}
                      <button type="submit" class="btn {% if follows_user %}disabled{% else %}btn-primary{% endif %}" name="follow">
                          {% if follows_user %}
                            Following
                          {% else %}
                            Follow
                          {% endif %}
                      </button>
                  </form>
              {% endif %}

              <form action="/inbox/{{ profile_name }}/">
                  <button type="submit" class="btn btn-primary">Message</button>
              </form>

            </div>
        </div>
    </div>

    <div class="row">
        <p>{{ bio|default:"No bio available" }}</p>
    </div>

    <div class="row">
        <div class="container-fluid">
            <a href="{% url 'user_profile_follower' profile_name %}" style="background-color: #a41515; color: white">
                 Followers
            </a>
            <label>    </label>
            <a href="{% url 'user_profile_following' profile_name %}" style="background-color: #205067; color: white">
                People Following
            </a>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="container-fluid">
{#                {% include 'profile_navigator.html' with profile_name=profile_name %}#}

            <div class="row" align="center" id="nav_content">
                <div class="col-10">
                   <nav class="nav nav nav-pills nav-fill">
                      <a class="nav-item nav-link {% if tweet_is_active %}active{% endif %}" href="/followers/">Tweets</a>
                      <a class="nav-item nav-link {% if tweet_and_replies_is_active %}active{% endif %}" href="/profile/">Tweets and replies</a>
                      <a class="nav-item nav-link {% if media_is_active %}active{% endif %}" href="/media/">Media</a>
                      <a class="nav-item nav-link {% if likes_is_active %}active{% endif %}" href="{% url 'user_profile_likes' profile_name %}">Likes</a>
                   </nav>
                </div>
            </div>

            <div class="row">
                <div class="container-fluid" id="content">
                    {% block profile_navcontent %}
                        {% lorem 3 p %}
                    {% endblock %}
                </div>
            </div>

        </div>
    </div>

{#    <script>#}
{#        document.getElementsByTagName("body")[0].onload = function () {#}
{#            document.getElementById("like").scrollIntoView(true)#}
{#        };#}
{#    </script>#}

 </div>


{% endblock %}