{% extends "base.html" %}

{% block content %}

{% if not user_id %}

    <div class="container" align="center">
        <form action="/login/" method="GET">
            <h1>You have to login first!</h1>
            <br>
            <input type="Submit" value="Log in" class="btn btn-primary">
        </form>
    </div>

{% else %}

<div class="row">

    <div class="col-2" align="center">
        <nav class="nav nav flex-column nav-pills">
          <a class="nav-item nav-link {% if home_is_active %} active {% endif %}" href="/home/">Home</a>
          <a class="nav-item nav-link {% if profile_is_active %} active {% endif %}" href="/profile/">Profile</a>
          <a class="nav-item nav-link {% if trends_is_active %} active {% endif %}" href="/trends/">Trends</a>
          <a class="nav-item nav-link {% if notifications_is_active %} active {% endif %}" href="/notifications/">Notifications</a>
          <a class="nav-item nav-link {% if messages_is_active %} active {% endif %}" href="/messages/">Messages</a>
          <a class="nav-item nav-link {% if logout_is_active %} active {% endif %}" href="/logout/">Log out</a>
        </nav>
    </div>

    <div class="col-10">
        {% block skeleton_content %}
            {% lorem 3 p %}
        {% endblock %}
    </div>

</div>

{% endif %}
{% endblock %}