{% extends "base.html" %}

{% block content %}
    <!--
    auth should not happen in template, redirect to login outside in View
    Do not couple login with templates
    The this was before, the skeleton was unusable to view tweets without login in the tweetdetailview
    Which any social site lets you do.
    The skeleton is useful. But it should only contain the navbar and the side bar
    use auth instead
    -->
<div class="row">

    <div class="col-2" align="center" style="display: block; position: fixed;">
        <nav class="nav nav flex-column nav-pills">
          <a class="nav-item nav-link {% if home_is_active %}active{% endif %}" href="/home/">Home</a>
          <a class="nav-item nav-link {% if profile_is_active %}active{% endif %}" href="/profile/">Profile</a>
          <a class="nav-item nav-link {% if trends_is_active %}active{% endif %}" href="/trends/">Trends</a>
          <a class="nav-item nav-link {% if notifications_is_active %}active{% endif %}" href="/notifications/">Notifications</a>
          <a class="nav-item nav-link {% if messages_is_active %}active{% endif %}" href="/messages/">Messages</a>
          <a class="nav-item nav-link {% if logout_is_active %}active{% endif %}" href="/logout/">Log out</a>
        </nav>
    </div>

    <div class="col-10" style="margin-left: 16%">
        {% block skeleton_content %}
            {% lorem 3 p %}
        {% endblock %}
    </div>

</div>
{% endblock %}