<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ tweet.AUTHOR }}</h5>
        <p class="card-text"><small class="text-muted">{{ tweet.TIMESTAMP }}</small></p>

        {% if tweet.replied_to %}
            <h6 class="card-subtitle mb-2 text-muted">Replying to {{ tweet.replied_to }}</h6>
        {% endif %}

        {% if tweet.TEXT %}
            <p class="card-text">{{ tweet.TEXT }}</p>
        {% endif %}
    </div>

    {% if tweet.image %}
        <img class="card-img-bottom" src="{{ tweet.image }}" alt="Card image">
    {% endif %}

    <div class="btn-group">
{#        <button type="button" class="btn btn-primary">Retweet</button>#}
{#        <button type="button" class="btn btn-secondary">Comment</button>#}
{#        <button type="button" class="btn btn-success">Like</button>#}
{#        <button type="button" class="btn btn-secondary">Bookmark</button>#}
{##}
{#        <button class="btn"><i class="fa fa-home"></i> Home</button>#}
{#        <button class="btn"><i class="fa fa-bars"></i> Menu</button>#}
{#        <button class="btn"><i class="fa fa-trash"></i> Trash</button>#}
{#        <button class="btn"><i class="fa fa-close"></i> Close</button>#}
{#        <button class="btn"><i class="fa fa-folder"></i> Folder</button>#}
        <form method="post">{% csrf_token %}

            <input type="hidden" value={{ tweet.ID }} name="tweetID">
            <input type="hidden" value={{ index }} name="indexID">

        <div class="form-group">
            <button class="btn"><i class="fa fa-reply"></i> Retweet</button>
            <button class="btn"><i class="fa fa-comment-o"></i> Comment</button>
            <button type="submit" class="btn" name="like" value="like"><i class="fa fa-heart{% if not tweet.LIKED %}-o{% endif %}" {% if tweet.LIKED %}style="color: rgb(224,36,94);" {% endif %}></i>
                {% if not tweet.LIKED %}
                    Like
                {% endif %}
            </button>
            <button type="submit" class="btn" name="bookmark" value="bookmark"><i class="fa fa-bookmark{% if not tweet.BOOKMARKED %}-o{% endif %}"></i>
                {% if not tweet.BOOKMARKED %}
                    Bookmark
                {% endif %}
            </button>
        </div>

        </form>

    </div>
</div>